
@{
    ViewData["Title"] = "cart";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <section>
        <div id="content">
            <!-- #content Begin -->
            <div class="container">
                <!-- container Begin -->
                <div class="col-md-12">
                    <!-- col-md-12 Begin -->

                    <ul class="breadcrumb">
                        <!-- breadcrumb Begin -->
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            Cart
                        </li>
                    </ul><!-- breadcrumb Finish -->

                </div><!-- col-md-12 Finish -->

                <div id="cart" class="col-md-9">
                    <!-- col-md-9 Begin -->

                    <div class="box">
                        <!-- box Begin -->

                        <form action="cart.php" method="post" enctype="multipart/form-data">
                            <!-- form Begin -->

                            <h1>Shopping Cart</h1>
                            <p class="text-muted">You currently have 3 item(s) in your cart</p>

                            <div class="table-responsive">
                                <!-- table-responsive Begin -->

                                <table class="table">
                                    <!-- table Begin -->

                                    <thead>
                                        <!-- thead Begin -->

                                        <tr>
                                            <!-- tr Begin -->

                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>

                                            <th colspan="1">Delete</th>
                                            <th colspan="2">Sub-Total</th>

                                        </tr><!-- tr Finish -->

                                    </thead><!-- thead Finish -->

                                    <tbody>
                                        <!-- tbody Begin -->

                                        <tr>
                                            <!-- tr Begin -->

                                        </tr><!-- tr Finish -->

                                    </tbody><!-- tbody Finish -->

                                   body Finish -->

                                    <tfoot>
                                        <!-- tfoot Begin -->

                                        <tr>
                                            <!-- tr Begin -->

                                            <th colspan="5">Total</th>
                                            <th colspan="2">100 tk </th>

                                        </tr><!-- tr Finish -->

                                    </tfoot><!-- tfoot Finish -->

                                </table><!-- table Finish -->

                            </div><!-- table-responsive Finish -->

                            <div class="box-footer">
                                <!-- box-footer Begin -->

                                <div class="pull-left">
                                    <!-- pull-left Begin -->

                                    <a href="index.php" class="btn btn-default">
                                        <!-- btn btn-default Begin -->

                                        <i class="fa fa-chevron-left"></i> Continue Shopping

                                    </a><!-- btn btn-default Finish -->

                                </div><!-- pull-left Finish -->

                                <div class="pull-right">
                                    <!-- pull-right Begin -->

                                    <button type="submit" name="update" value="Update Cart" class="btn btn-default">
                                        <!-- btn btn-default Begin -->

                                        <i class="fa fa-refresh"></i> Update Cart

                                    </button><!-- btn btn-default Finish -->

                                    <a href="checkout.php" class="btn btn-primary">

                                        Proceed Checkout <i class="fa fa-chevron-right"></i>

                                    </a>

                                </div><!-- pull-right Finish -->

                            </div><!-- box-footer Finish -->

                        </form><!-- form Finish -->

                    </div><!-- box Finish -->



                </div><!-- col-md-9 Finish -->

                <div class="col-md-3">
                    <!-- col-md-3 Begin -->

                    <div id="order-summary" class="box">
                        <!-- box Begin -->

                        <div class="box-header">
                            <!-- box-header Begin -->

                            <h3>Order Summary</h3>

                        </div><!-- box-header Finish -->

                        <p class="text-muted">
                            <!-- text-muted Begin -->
                            Shipping and additional costs are calculated based on value you have entered

                        </p><!-- text-muted Finish -->

                        <div class="table-responsive">
                            <!-- table-responsive Begin -->

                            <table class="table">
                                <!-- table Begin -->

                                <tbody>
                                    <!-- tbody Begin -->

                                    <tr>
                                        <!-- tr Begin -->

                                        <td> Order Sub-Total </td>
                                        <th> $200 </th>

                                    </tr><!-- tr Finish -->

                                    <tr>
                                        <!-- tr Begin -->

                                        <td> Shipping and Handling </td>
                                        <td> $0 </td>

                                    </tr><!-- tr Finish -->

                                    <tr>
                                        <!-- tr Begin -->

                                        <td> Tax </td>
                                        <th> $0 </th>

                                    </tr><!-- tr Finish -->

                                    <tr class="total">
                                        <!-- tr Begin -->

                                        <td> Total </td>
                                        <th> $200 </th>

                                    </tr><!-- tr Finish -->

                                </tbody><!-- tbody Finish -->

                            </table><!-- table Finish -->

                        </div><!-- table-responsive Finish -->

                    </div><!-- box Finish -->

                </div><!-- col-md-3 Finish -->

            </div><!-- container Finish -->
        </div><!-- #content Finish -->
    </section>




<style scoped>
.box{
    background: #ffffff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

#content{
   padding-left: 25px;
}
.single{
    width: 290px;
}

#content .product{
    background: #ffffff;
    border: solid 1px #e6e6e6;
    margin-bottom: 30px;
    box-sizing: border-box;
}
#content .product .text{
    padding: 10px 10px 0px;
}
#content .product .text p.price{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
#content .product .text .button{
    text-align: center;
    clear: both;
}
#content .product .text .button .btn{
    margin-bottom: 10px;
}
#content .product .text h3{
    text-align: center;
    font-size: 20px;
}
#content .product .text h3 a{
    color: rgb(85, 85, 85);
}

/*  Breadcrumb Styles  */

.breadcrumb{
    padding: 8px 15px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
}
.breadcrumb> li + li:before{
    content: ">\00a0";
    color: #cccccc;
}


/*  Cart.php Styles  */

#content #cart .table tbody tr td img{
    width: 50px;
}
#content #cart .table tbody tr td input{
    width: 40px;
    text-align: right;
}
#content #cart .table tbody tr td{
    vertical-align: middle;
}
#content #cart .table tfoot{
    font-size: 18px;
}
.box .box-footer{
    background-color: #f7f7f7;
    margin: 30px -20px 20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after{
    content: "";
    display: table;
}
.box .box-footer:after{
    clear: both;
}
.box .box-header{
    background-color: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-top: 1px solid #eeeeee;
}
#content #order-summary table{
    margin-top: 20px;
}
#content #order-summary table td{
    color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th{
    font-size: 18px;
    color: #555555;
    font-weight: 700;
}


</style>

