@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="box">
    <!-- box Begin -->

    <h1 class="text-center">Payment Options For You</h1>

    <center>
        <!-- center Begin -->

        <p class="lead">
            <!-- lead Begin -->

            <a href="confirm.php">

                Bikash Payment

                <img class="img-responsive" src="/images/payment-icon.jpg">

            </a>

        </p> <!-- lead Finish -->

    </center><!-- center Finish -->

</div><!-- box Finish -->