@model SDProject.Models.SliderImages
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="p-4 rounded border box-shadow">
    <h4 class="text-info">ADD SLIDER IMAGES </h4>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="p-4 rounded border box-shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>


            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Image1"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Image1" class="form-control box-shadow" type="file" />
                </div>
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Image2"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Image2" class="form-control box-shadow" type="file" />
                </div>
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Image3"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Image3" class="form-control box-shadow" type="file" />
                </div>
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Image4"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Image4" class="form-control box-shadow" type="file" />
                </div>
                <span asp-validation-for="Image4" class="text-danger"></span>
            </div>





            <div class="form-group">
                <input type="submit" class="btn btn-outline-primary" value="SAVE" />
                <a asp-action="Index" class="btn btn-outline-success">BACK TO LIST </a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


