@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row box" id="details">
   
    <div class="col-md-6">
        <h4>@ViewData["Title"]</h4>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="form-control" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style scoped>
    /*  Breadcrumb Styles  */

    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    }

        .breadcrumb > li + li:before {
            content: ">\00a0";
            color: #cccccc;
        }


    #advantages {
        text-align: center;
    }

    .box {
        background: #ffffff;
        margin: 0 0 30px;
        border: solid 1px #e6e6e6;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    }

    #advantages .box .icon {
        position: absolute;
        font-size: 120px;
        width: 100%;
        text-align: center;
        top: -20px;
        left: 0px;
        height: 100%;
        float: left;
        color: #dadada;
        box-sizing: border-box;
        z-index: 1;
    }

    #advantages .box h3 {
        position: relative;
        margin: 0 0 20px;
        font-weight: 300;
        text-transform: uppercase;
        z-index: 2;
    }

        #advantages .box h3 a {
            color: #4fbfa8;
        }

            #advantages .box h3 a:hover {
                text-decoration: none;
            }

    #advantages .box p {
        position: relative;
        z-index: 2;
        color: #555555;
    }



    #details {
        margin-top: 30px;
    }
</style>


