@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="row box" id="details">
    <div class="col-md-6">
        <h4>@ViewData["Title"]</h4>
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style scoped>
    /*  Breadcrumb Styles  */

    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 20px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    }

        .breadcrumb > li + li:before {
            content: ">\00a0";
            color: #cccccc;
        }


    #advantages {
        text-align: center;
    }

    .box {
        background: #ffffff;
        margin: 0 0 30px;
        border: solid 1px #e6e6e6;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    }

    #advantages .box .icon {
        position: absolute;
        font-size: 120px;
        width: 100%;
        text-align: center;
        top: -20px;
        left: 0px;
        height: 100%;
        float: left;
        color: #dadada;
        box-sizing: border-box;
        z-index: 1;
    }

    #advantages .box h3 {
        position: relative;
        margin: 0 0 20px;
        font-weight: 300;
        text-transform: uppercase;
        z-index: 2;
    }

        #advantages .box h3 a {
            color: #4fbfa8;
        }

            #advantages .box h3 a:hover {
                text-decoration: none;
            }

    #advantages .box p {
        position: relative;
        z-index: 2;
        color: #555555;
    }



    #details {
        margin-top: 30px;
    }
</style>