@model SDProject.Models.Product
@{
    ViewData["Title"] = "Edit";
}
<br />
<br />


    <h4 class="text-info">EDIT PRODUCT </h4>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="p-4 rounded border row box-shadow">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control box-shadow" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control box-shadow" />
                    </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <!--  <div class="form-group row">
        <div class="col-4">
            <label asp-for="Image"></label>
        </div>
        <div class="col-8">
            <input asp-for="Image" class="form-control box-shadow" type="file" />
        </div>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>-->


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="CategoryId" asp-items="ViewBag.productTypeId" class="form-control box-shadow"></select>
                    </div>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="UserId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="UserId" asp-items="ViewBag.UserId" class="form-control box-shadow"></select>
                    </div>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Quantity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Quantity" class="form-control box-shadow" />
                    </div>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Author"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Author" class="form-control box-shadow" />
                    </div>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" class="form-control box-shadow"> </textarea>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-outline-primary" value="UPDATE" />
                    <a asp-action="Index" class="btn btn-outline-success">BACK TO LIST </a>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3 border rounded box-shadow" >
                <img src="/@Model.Image" width="100%" class="border rounded box-shadow mt-5" />
            </div>

        </div>
    </form>
    

    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
